:root {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Share Tech Mono", monospace;
}

#board,
.boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
    font-size: 25px;
}

#gameOver {
    
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: red;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #1A1926;
}

.snakeSquare {
    background-color: #BAF162;
}

.foodSquare {
    background-color: #E2384B;
}